.jumbotron {
  background: #532f8c;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #b01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}

#pdf-preview {
  /* overflow: auto; */
}
#pdf-preview table {
  width: -webkit-fill-available;
}
#pdf-preview table td {
  border: 1px solid black;
  padding: 1em;
  width: 50%;
}
#potpis {
  border-bottom: 1px solid black;
  width: 50%;
  float: right;
  margin-top: 5em;
}

.pdf-form {
  
}
.pdf-form .float-right {
  float: right;
}
.pdf-form a.btn {
  margin-left: 1em;
  margin-top: -0.5em;
}
.pdf-form input, .pdf-form button {
  margin-top: 1em;
}