<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <!-- <%- include ("../partials/nav.ejs") %> -->

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/images/kreka-servis.jpg">
      </a>
      <h1>Kreka servis</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>
          <span class="glyphicon glyphicon-search"></span> Pregled
          <!-- <button id="close-preview" class="btn btn-danger glyphicon glyphicon-remove-sign" type="button">Zatvori pregled</button> -->
        </h3>
        <div id="pdf-preview" class="pdf-preview">
          <div class="row">
            <img src="/images/kreka-servis.jpg" class="col-md-4 col-md-offset-4">
          </div>
          <table>
            <tbody>
              <tr>
                <td>Datum: <%= moment().format('DD.MM.yyyy.'); %>
                </td>
                <td>Kilometri: <span id="kilometri"></span></td>
              </tr>
              <tr>
                <td colspan="2" class="text-center">Promenjeni delovi: </td>
              </tr>
              <tr>
                <td colspan="2">
                  <ul class="delovi">
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
          <div id="potpis"></div>
        </div>
      </div>

      <div class="col-md-8 pdf-form">
        <h3><span class="glyphicon glyphicon-pencil"></span> Popuni formu
          <a id="btn-save2pdf" type="button" class="btn btn-lg btn-primary float-right"><span
              class="glyphicon glyphicon-download"></span>
            Sačuvaj PDF</a>
          <a id="btn-refresh" type="button" class="btn btn-lg btn-success float-right"><span
              class="glyphicon glyphicon-refresh"></span>
            Osveži</a>
        </h3>
        <div class="inputs">
          <input id="input-kilometri" type="text" class="form-control" placeholder="Unesi kilometre...">
          <div class="input-group">
            <input type="text" class="form-control deo" placeholder="Unesi deo...">
            <span class="input-group-btn">
              <button class="btn btn-danger glyphicon glyphicon-remove-sign remove" type="button"></button>
            </span>
          </div><!-- /input-group -->
        </div>
        <button class="btn btn-primary dodaj-deo" type="button">Dodaj deo</button>
      </div>
    </div> <!-- row -->
  </div>

</body>

</html>