<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <!-- <%- include ("../partials/nav.ejs") %> -->

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Kreka servis</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3><span class="glyphicon glyphicon-info-sign"></span> HTML preview</h3>
      This is how it will look
    </div>
    <div class="col-md-9">
      <h3><span class="glyphicon glyphicon-link"></span> Print to PDF</h3>
      Build form
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
